.profileCard {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--card-background);
   box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);

  .avatar {
    height: 300px;
    width: 250px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .name {
    font-weight: 600;
    font-size: 16px
  } 

  .email {
    font-size: 13px;
    margin: 0;
  }
}